
@{
    ViewBag.Title = "ABMLCategorias";
}

<h3><a href="@Url.Action("ABMLCategorias","Backoffice",new { accion="modif" })">Modificar Categoria</a></h3>
<h3><a href="@Url.Action("ABMLCategorias","Backoffice",new { accion="elim" })">Eliminar Categoria</a></h3>
<h3><a href="@Url.Action("ABMLCategorias","Backoffice",new { accion="ver" })">Ver Categorias</a></h3>
<h3><a href="@Url.Action("ABMLCategorias","Backoffice",new { accion="add" })">Agregar Categoria</a></h3>
