@using QeQ.Models
@model Categoria
@{
    ViewBag.Title = "CatAdd";
}

<h2 style="color: black">CatAdd</h2>

<form action="@Url.Action("AgregarCat", "Backoffice")" method="post">
    <label style="color: black">Ingrese nueva categoria</label>
    @Html.TextBoxFor(x => x.cat) @Html.ValidationMessageFor(x => x.cat)
    <input type="submit" name="enviar" value="Enviar" />
</form>

