
@{
    ViewBag.Title = "CatVer";
}
<link href="~/Content/IndexCss.css" rel="stylesheet" />

<form action="@Url.Action("Ver", "BackofficeController")" method="post">
    <input type="hidden" name="Tabla" value="Categoria"
    <label style="color: gold">ID de Categoria</label> <br />
    <input type="text" name="Id" /> <br />

    <input type="submit" name="enviar" value="Enviar" />
</form>

