
@{
    ViewBag.Title = "Quien es quien?";
}


<h2 style="color: black">Bienvenido @ViewBag.NomUs! Como eres ADM, puedes hacer las siguientes ABML: </h2>

<h3><a href="@Url.Action("ABMLPreguntas","Backoffice")">ABML Preguntas</a></h3>
<h3><a href="@Url.Action("ListaPersonajes","Backoffice")">ABML Personajes</a></h3>
<h3><a href="@Url.Action("ListaCategorias","Backoffice")">ABML Categorias</a></h3>


