
@{
    ViewBag.Title = "BienvenidaRegistrarse";
}

<h2>Gracias por registrarte!!!. Ahora podras jugar cuanto quieras!!!</h2>

<h3><a href="@Url.Action("Index","Home")">Vuelve a la pagina principal</a></h3>


