
@{
    ViewBag.Title = "Quien es quien?";
}
<link href="~/Content/IndexCss.css" rel="stylesheet" />
<div>@Html.ActionLink("Instrucciones", "Instrucciones", "Home", null, new { @class = "Instrucciones" })</div>
<div>@Html.ActionLink("AboutUs", "AboutUs", "Home", null, new { @class = "AboutUs" })</div>



<h3><a href="@Url.Action("Juego","Home")">Jugar como invitado!!</a></h3>


<h3><a href="@Url.Action("Login","Home")">Jugar con usuario personal!!</a></h3>