
@{
    ViewBag.Title = "Quien es quien?";
}
<link href="~/Content/IndexCss.css" rel="stylesheet" />
<div>@Html.ActionLink("Instrucciones", "Instrucciones", "Home", null, new { @class = "Instrucciones" })</div>
<div>@Html.ActionLink("AboutUs", "AboutUs", "Home", null, new { @class = "AboutUs" })</div>
