
@{
    ViewBag.Title = "Ingreso";
}



<h2 style="color: gold">Bienvenido @ViewBag.NomUs!  </h2>





<h3><a href="@Url.Action("AboutUs","Home")">AboutUs</a></h3>
<h3><a href="@Url.Action("Instrucciones","Home")">Instrucciones</a></h3>


