@using QeQ.Models
@model Categoria
@{
    ViewBag.Title = "Juego";
}

<h2>Juego</h2>

<h2> jugador ViewBag.NombreUsuario</h2>

<form action="@Url.Action("SeleccionRandom", "Home")" method="post">
    <label style="color: black">Ingrese la categoria con la que jugará</label>
    @Html.DropDownListFor(x => x.cat, new SelectList(ViewBag.ListasCategorias, "IdCategoria", "cat"))
    <input type="submit" name="enviar" value="Enviar" />
</form>