
@{
    ViewBag.Title = "Registrarse";
}

<h2 style="color: black">Registrarse</h2>
<h3 style="color: black">Registrarte te trae beneficios! Guardar tus puntos, tus InfoCoins y te damos de regalo la hermosa cantidad de 10.000 InfoCoins</h3>


<form action="@Url.Action("Registrar", "Home")" method="post">
    <label style="color: black">E-Mail</label> <br />
    <input type="text" name="Email" /> <br />
    <label style="color: black">Password</label><br />
    <input type="password" name="Password" /> <br />

    <label style="color: black">Nombre de usuario</label><br />
    <input type="NombreDeUsuario" name="NombreDeUsuario" /><br />


    <input type="submit" name="enviar" value="Enviar" />
</form>
