@using QeQ.Models
<h2> </h2>
<h3 style="color: black"> Estos son todos los personajes ingresados en la base de datos sobre la tematica que vos elegiste. </h3>
<h3 style="color: black">  Si elegiste la opcion "Todos" te traera todos los personajes ingresados en la base de datos. </h3> 





<table>
    <tr>

        <th> Nombre </th>


    </tr>
    @{

        foreach (Personajes personajes in ViewBag.ListasPersonajesxCategoria)
        {
            <tr>
                <td> @personajes.Nom </td>


            </tr>
        }
    }
</table>



